<div class="content-inner action-bar">
  <div class="icon-buttons">
    <button class="icon-button" 
            (click)="openAddCollectionModal()" 
            aria-label="Add Collection">
      <i class="fa fa-folder-plus"></i>
    </button>
    <button class="icon-button" 
            (click)="openAddBookmarkModal()" 
            aria-label="Add Bookmark">
      <i class="fa fa-plus"></i>
    </button>
    <button class="icon-button" 
            [class.active]="currentViewMode === 'grid'"
            (click)="setGridView()" 
            aria-label="Grid View">
      <i class="fa fa-th"></i>
    </button>
    <button class="icon-button" 
            [class.active]="currentViewMode === 'list'"
            (click)="setListView()" 
            aria-label="List View">
      <i class="fa fa-list-ul"></i>
    </button>
  </div>
</div>

<!-- Add Collection Modal -->
<app-add-collection 
  [isOpen]="showAddCollectionModal"
  (closeModal)="closeAddCollectionModal()"
  (saveCollection)="onSaveCollection($event)">
</app-add-collection>

<!-- Add Bookmark Modal -->
<app-add-bookmark 
  [isOpen]="showAddBookmarkModal"
  (closeModal)="closeAddBookmarkModal()"
  (saveBookmark)="onSaveBookmark($event)">
</app-add-bookmark>