<!-- Modal Backdrop -->
<div class="modal-backdrop" 
     *ngIf="isOpen" 
     (click)="onBackdropClick($event)">
  
  <!-- Modal Content -->
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Add New Collection</h5>
      <button type="button" class="close-btn" (click)="close()">
        <i class="fa fa-times"></i>
      </button>
    </div>
    
    <div class="modal-body">
      <form [formGroup]="collectionForm">
        <!-- Collection Name -->
        <div class="form-group">
          <label for="collectionName">Collection Name</label>
          <input type="text" 
                 id="collectionName"
                 class="form-control" 
                 formControlName="name"
                 placeholder="Enter collection name">
          <div class="error-message" *ngIf="collectionForm.get('name')?.invalid && collectionForm.get('name')?.touched">
            <span *ngIf="collectionForm.get('name')?.errors?.['required']">Collection name is required</span>
            <span *ngIf="collectionForm.get('name')?.errors?.['minlength']">Collection name must be at least 2 characters</span>
          </div>
        </div>

        <!-- Icon Picker -->
        <div class="form-group">
          <label>Icon</label>
          <div class="icon-picker">
            <div class="selected-icon" (click)="toggleIconPicker()">
              <i class="fa {{ selectedIcon }}"></i>
              <i class="fa fa-chevron-down toggle-arrow" [class.rotated]="showIconPicker"></i>
            </div>
            <div *ngIf="showIconPicker">
              <form [formGroup]="searchForm">
                <input type="text" 
                       class="form-control icon-search-box" 
                       placeholder="Search icon..." 
                       formControlName="search" />
              </form>
              <div class="icon-grid">
                <div class="icon-item" 
                     *ngFor="let icon of pagedIcons"
                     [class.selected]="selectedIcon === icon"
                     (click)="selectIcon(icon)"
                     [attr.title]="icon">
                  <i class="fa {{ icon }}"></i>
                </div>
              </div>
              <div class="icon-pagination">
                <button type="button" class="icon-nav-btn" (click)="prevPage()" [disabled]="currentPage === 0">
                  <i class="fa fa-chevron-left"></i>
                </button>
                <span class="icon-page-info">{{ currentPage + 1 }} / {{ totalPages }}</span>
                <button type="button" class="icon-nav-btn" (click)="nextPage()" [disabled]="currentPage >= totalPages - 1">
                  <i class="fa fa-chevron-right"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    
    <div class="modal-footer">
      <button type="button" 
              class="btn btn-secondary" 
              (click)="close()">
        Cancel
      </button>
      <button type="button" 
              class="btn btn-primary" 
              [disabled]="collectionForm.invalid"
              (click)="save()">
        Save
      </button>
    </div>
  </div>
</div>
