<header class="header">
  <div class="header-top">
      <div class="logo">bookmark-manger</div>
      <div class="nav-buttons">
          <a href="#" class="nav-button">
              <i class="fas fa-sign-in-alt"></i>
          </a>
          <a href="#" class="nav-button">
              <i class="fas fa-envelope"></i>
          </a>
      </div>
  </div>
  <h1 class="header-heading">Explore bookmarks</h1>
  <div class="search-container">
      <div class="search-wrapper">
          <input type="text" class="search-input" placeholder="Search...">
          <button class="search-button">
              <i class="fas fa-search"></i>
          </button>
      </div>
  </div>
</header>
<app-action-bar></app-action-bar>
